# <span style="color:darkblue"> Lecture 16 - Practicing Chaining </span>

<font size = "5">

In this lecture you will get a chance to practice <br>
the main dataset operations

- There will be a quiz on this lecture

# <span style="color:darkblue"> I. Import Libraries and Data </span>

In [2]:
import numpy as np
import pandas as pd

In [3]:
results  = pd.read_csv("data_raw/results.csv")
races    = pd.read_csv("data_raw/races.csv")
results["points col"] = results["points"]

# <span style="color:darkblue"> II. Review Dataset Operations </span>

<font size = "5">

See attached file for a refresher on syntax

```[] ``` $\qquad \qquad \qquad \quad$: Extracting columns <br>
```.query() ``` $\qquad \qquad $: Subsetting rows <br>
```.recode() ``` $ \qquad \quad \ \ $: Replacing values <br>
```.groupby().agg() ```: Aggregate statistics by subgroup <br>
```.rename() ``` $\qquad \quad \ \ $: Change name of columns

Full list:

<font size = "4">

https://www.w3schools.com/python/pandas/pandas_ref_dataframe.asp

# <span style="color:darkblue"> III. Examples of Chaining </span>

<font size = "5">

The operations with "." are read left to right

- Combine any of the above operations
- Great way to make code efficient
- The sky's the limit!


Subsetting **before** extracting columns

In [4]:
# Get data for drivers that scored more than 20 points on individual races
# Then extract the columns "driverId" and "points"
results.query('points >= 20')[["driverId","points"]]

       driverId  points
20320         4    25.0
20344        18    25.0
20368        20    25.0
20392        18    25.0
20416        17    25.0
...         ...     ...
25740       830    25.0
25760       830    25.0
25780       830    25.0
25800       847    26.0
25820       830    25.0

[262 rows x 2 columns]

<font size = "5">

Subsetting **before** aggregating

In [5]:
# This obtains a subset of drivers who competed in races 500 onwards
# then computes the average by team ("constructorId")

(results.query('raceId >= 500')
        .groupby("constructorId")
        .agg(mean_points = ("points","mean")))

               mean_points
constructorId
1                 3.148148
3                 1.904924
4                 1.903226
5                 1.203911
6                 4.910966
...                    ...
209               0.012821
210               0.809028
211               3.723684
213               2.327869
214               3.693182

[176 rows x 1 columns]

<font size = "5">

Subsetting **after** aggregating

In [6]:
# This obtains the average points by team ("constructorId"), then 
# produces a subset of team whose average is higher than 10

(results.groupby("constructorId")
        .agg(mean_points = ("points","mean"))
        .query('mean_points >= 10'))

               mean_points
constructorId
131              12.363643

<font size = "5">

Chaining inside queries + NaNs

In [ ]:
# "is.na()" produces a True/False vector, checking for missing values
# "is.notna()" produces a True/False vector, checking for non-missing values
# .str.isnumeric() is used for checking whether individual rows of a
# string column are numeric.
results["points"].isna()
results["points"].notna()

subset_nas    = results.query('points.isna()')
subset_nonnas = results.query('points.notna()')

## <span style="color:darkblue"> III. Quiz Structure </span>

<font size = "5">

The day of the quiz I will ...
- Provide a dataset with information
- Give more specific instructions.
- Below, you will see the type of questions that will be asked.
- The idea is for you to apply known concepts to new data
- You have 50 minutes to complete the assignment

Questions

(exact wording may change in quiz, but exercise will be very similar)


<font size = "5">

(a) Replace the values of a column

- Obtain unique string values of a column
- Use the ".replace()" command

Hint: See Lecture 13

In [1]:
import pandas as pd
df = pd.read_csv('file_name.csv')

#Step 1: Obtain unique string values of the column using the unique() method. For example, if you want to obtain the unique string values of a column named "column_name", you can do:

unique_values = df['column_name'].unique()

#Step 2: Create a dictionary that maps the old values to the new values that you want to replace them with. For example, if you want to replace "old_value1" with "new_value1" and "old_value2" with "new_value2", you can create the dictionary as follows:

replace_dict = {
    'old_value1': 'new_value1',
    'old_value2': 'new_value2'
}

#Step 3: Finally, use the .replace() method to replace the old values with the new values in the column. You can use a for loop to iterate over each unique value in the column and replace it with the corresponding new value. For example:
for value in unique_values:
    df['column_name'] = df['column_name'].replace(value, replace_dict.get(value))

#This will replace all the old values in the "column_name" column with the new values specified in the replace_dict dictionary.

FileNotFoundError: [Errno 2] No such file or directory: 'file_name.csv'

<font size = "5">

(b) Recode a numeric column

- Use the "pd.cut()" command to create <br>
a new column based on an interval.
- See Lecture 14 for more details

In [2]:
# Step 1: Determine the intervals or bins for your numeric column. For example, if you have a numeric column named "column_name" and you want to bin it into three intervals, you can use the pd.cut() command as follows:

bins = pd.cut(df['column_name'], 3)

# Step 2: The pd.cut() command creates three intervals of equal width based on the range of the values in the "column_name" column. Create a new column in the DataFrame to store the binned values. For example, if you want to store the binned values in a new column named "binned_column", you can do:

df['binned_column'] = bins

# Step 3: This will add a new column to the DataFrame named "binned_column" containing the binned values. Finally, you can optionally rename the binned values using the labels parameter in pd.cut(). For example, if you want to rename the binned values as "low", "medium", and "high", you can do:

bins = pd.cut(df['column_name'], 3, labels=['low', 'medium', 'high'])
df['binned_column'] = bins

# Overall: This will bin the values in the "column_name" column into three intervals with labels "low", "medium", and "high" and store the binned values in the new column named "binned_column".

NameError: name 'df' is not defined

<font size = "5">

(c) Aggregate and query

- Use a combniation of the following commands <br>
to produce a new dataset <br>
``` .query() ``` <br>
``` .groupby().agg() ``` <br>

In [3]:
#Step 1: Use the .query() command to filter the dataset based on certain conditions. For example, if you want to select only the rows where the value of a variable named "variable_name" is greater than 10, you can do:
#This will filter the dataset to include only the rows where the value of "variable_name" is greater than 10.

df = df.query('variable_name > 10')

#Step 2: Use the .groupby().agg() command to aggregate the variables in the dataset. For example, if you want to calculate the mean value of a variable named "variable_name" for each value of another variable named "group_variable", you can do:
#This will group the dataset by the "group_variable" variable and calculate the mean value of "variable_name" for each group.

grouped_df = df.groupby('group_variable').agg({'variable_name': 'mean'})

#Step 3: Finally, you can optionally reset the index of the aggregated dataset using the .reset_index() command. For example, if you want to reset the index of the "grouped_df" dataset, you can do:

grouped_df = grouped_df.reset_index()

#This will reset the index of the "grouped_df" dataset to default integer values.
#Overall, this combination of .query() and .groupby().agg() commands can be used to produce a new dataset that is filtered and aggregated based on certain conditions.

NameError: name 'df' is not defined

<font size = "5">

(d) Aggregate and sort

- Use a combniation of the following commands <br>
to produce a new dataset <br>
``` .groupby().agg() ``` <br>
``` .sort_values() ```

In [ ]:
#Step 1: Use the .groupby().agg() command to aggregate the variables in the dataset. For example, if you want to calculate the mean value of a variable named "variable_name" for each value of another variable named "group_variable", you can do:

grouped_df = df.groupby('group_variable').agg({'variable_name': 'mean'})

#Step 2: This will group the dataset by the "group_variable" variable and calculate the mean value of "variable_name" for each group.Use the .sort_values() command to sort the aggregated dataset based on certain variables. For example, if you want to sort the "grouped_df" dataset by the mean value of "variable_name" in descending order, you can do:

sorted_df = grouped_df.sort_values(by='variable_name', ascending=False)

<font size = "5">

(e) Rename column

- Create a dictionary
- Rename one or more columns in a dataset <br>
using the dictionary

In [ ]:
#Step 1: Create a dictionary that maps the old column names to the new column names. For example, if you want to rename a column named "old_column_name" to "new_column_name", you can create a dictionary as follows:
#This will create a dictionary that maps the old column name "old_column_name" to the new column name "new_column_name".

column_name_dict = {'old_column_name': 'new_column_name'}

#Step 2: Use the .rename() command to rename the columns in the dataset based on the dictionary. For example, if you want to rename the columns in the "df" dataset based on the "column_name_dict" dictionary, you can do:

df = df.rename(columns=column_name_dict)

#This will rename the columns in the "df" dataset based on the "column_name_dict" dictionary and store the renamed dataset in the "df" variable.
#Overall, this approach allows you to rename one or more columns in a dataset using a dictionary that maps the old column names to the new column names.

<font size = "5">

(f) Merge dataset

- Use "pd.merge" to combine two datasets: <br>
a primary and secondary
- Only merge a subset of the columns of the <br>
secondary dataset
- Use "display" to show a the merged dataset,  <br>
extracting a subset of the columns

In [ ]:
#Step 1: Next, read in the two datasets you want to merge. For example, if you have two datasets named "primary_dataset.csv" and "secondary_dataset.csv", you can read them in using the read_csv() method from pandas library as follows:

primary_dataset = pd.read_csv('primary_dataset.csv')
secondary_dataset = pd.read_csv('secondary_dataset.csv')

#Step 2: Use the pd.merge() function to merge the two datasets. You can specify the primary dataset as the first argument, and the secondary dataset as the second argument. You can also specify the columns to merge on using the on parameter. For example, if you want to merge the datasets on a column named "merge_column", you can do:

merged_dataset = pd.merge(primary_dataset, secondary_dataset[['merge_column', 'secondary_column']], on='merge_column')

#This will display only the "merge_column" and "primary_column" columns of the merged dataset.
#Overall, this approach allows you to merge two datasets in Python using the pd.merge() function, and select a subset of the columns to include in the merged dataset using the on and [['column_name']] parameters, and display a subset of columns using display() function.#